.nav-bar__link {
  flex: auto;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: all 0.5s linear;
  font-weight: 600;

  &:hover {
    transition: background 0.5s ease;
    border-radius: 10px;
  }
}

.nav-bar__link--active {
  border-radius: 10px;
  background-color: #61892F;
  color: #d5ff9b;
}

@media only screen and (max-width: 500px) {
  .nav-bar__link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .nav-bar__link {
    font-size: 13px;
  }
}
