.default-text {
  height: 302px;
  max-width: 50%;
  flex: auto;
  margin-left: 5px;
  padding: 40px;
  border-radius: 10px;
  background-color: #474B4F;
  border: 2px solid whitesmoke;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
}
